---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import Hero from "../components/v2/Hero";
import BookSection from "../components/astro/ABookSection.astro";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<div class="h-screen">
			<Hero client:load/>
			<BookSection />
		</div>
	</body>
</html>
